.Login {
    padding: 60px 0;
}
  
.Login form {
    margin: 0 auto;
    max-width: 400px;
}

#parent1 {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 7%;
    height: 50%;
    width: 50%;
    box-shadow: 3px 3px black;
    border-radius: 20px;
}

#c2 {
    background-image: url("../images/sample.png");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: fill;
    padding: 10%;
}